/* =============================================================
 * BASE STYLES
 * ============================================================*/

.#{$selector} {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 260px;
    z-index: 1;

    @include mq_s {
        width: 300px;
    }

    @include mq_m {
        width: 460px;
    }

    @include mq_l {
        width: 560px;
    }

    &--inline {
        position: relative;
    }
}

.#{$selector}__inner {
    overflow: hidden;
}

.#{$selector}__months {
    @include mq_m {
        overflow: hidden;
    }
}

.#{$selector}__month {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

    @include mq_m {
        width: 200px;
    }

    @include mq_l {
        width: 240px;
    }
}

.#{$selector}__month--month1 {
    @include mq_m {
        float: left;
    }
}

.#{$selector}__month--month2 {
    display: none;

    @include mq_m {
        display: table;
        float: right;
    }
}

.#{$selector}__month-day--valid {
    cursor: pointer;
    user-select: none;
}

.#{$selector}__month-day--lastMonth,
.#{$selector}__month-day--nextMonth {
    visibility: hidden;
}

.#{$selector}__month-button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.#{$selector}__month-button--disabled {
    @include mq_m {
        visibility: hidden;
    }
}

.#{$selector}__info--feedback {
    display: none;
}

.#{$selector}__info--error,
.#{$selector}__info--help {
    display: block;
}

.#{$selector}__buttons {
    user-select: none;
}

.#{$selector}__close-button,
.#{$selector}__clear-button {
    cursor: pointer;
}

.#{$selector}__tooltip {
    position: absolute;
}
