$accent__color: #746bfd;

$text__base__color: #484c55;
$text__light__color: #acb2c1;
$text__invalid__color: #e8ebf4;
$text__disabled__color: red;

$line__border__color: #dcdcdc;

$button__bg__color: #d6dae5;
$button__txt__color: #9da6b8;
$button__bg__hover__color: #746bfd;
$button__txt__hover__color: #fff;
