$font__family: "Helvetica", "Helvetica Neue", "Arial", sans-serif !default;

//BASE
$background__color: #fff !default;
$text__base__color: #000 !default; // old #484c55
$text__light__color: #333 !default; // old #acb2c1
$accent__color: #3858e9 !default; // old #746bfd
$line__border__color: #dcdcdc !default;
$focus__bg__color: #ffe684 !default;
$tooltip__color: #ffe684 !default;
$info__error__color: red !default;

//BUTTON
$button__bg__color: #3858e9 !default; // old #d6dae5
$button__txt__color: #ffffff !default;
$button__bg__hover__color: #213fd4 !default; // old #746bfd
$button__txt__hover__color: #ffffff !default;
$button__bg__disabled__color: #c8c9d0 !default;
$button__txt__disabled__color: #ffffff !default;

//INVALID & DISABLED STATES
$dates__invalid__color: #e8ebf4 !default;
$dates__disabled__color: #e8ebf4 !default;
$dates__disabled__cross__color: red !default;
$checkin__disabled__color: red !default;
$checkout__disabled__color: red !default;
